<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_with(model: @user, local:true) do |f| %>

    <p>
        <%= f.label(:username, "Enter your username here") %>
        <%= f.text_field( :username) %>
    </p>
    <p>
        <%= f.label :email %>
        <%= f.text_field :email, placeholder:"email@email.com" %>
    </p>
    <p>
        <%= f.label :password %>
        <%= f.password_field :password %>
    </p>
    <p>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
    </p>

    <p>
        <%= f.submit "Submit" %>
    </p>
<% end %>

<%= link_to "<<Back to users list", users_path %>
